@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  font-family: helvetica;
}

h1 {
  font-family: 'Noto Sans', monospace;
}

h5 {
  margin-top: 30px;
  text-align: center;
  color: #388E3C;
}

h6 {
  color: #388E3C;
}


.card.content {
  text-align: left;
  padding: 0px;
}

.row {
  margin-bottom: 0px;
}

.card .card-content {
  padding: 4px 4px 4px 4px;
  /* border: 1px solid orange; */
  min-height: 80px;
}

.row.item {
  /* border: 1px solid red; */
}

.col.s6.item {
  /* border: 1px solid grey; */
}

.card.item {
  /* border: 1px solid black; */
  min-height: 40px;
}

.card-image.item {
  /* border: 1px solid green; */
}

nav {
  background-color: #388E3C;
}

.red {
  background-color: #7874a2 !important;
}

.red-hover {
  background-color: yellow;
}

.custom-colour {
  background-color: blue;
}

p.product_info {
  color: black;
}

i.tiny.material-icons{
  /* border: 1px solid red; */
}

.col.price {
  /* border: 1px solid purple; */
  margin-top: 0px;
  padding: 0px 10px;
}

.col.s6.price h6 {
  /* border: 1px solid yellow; */
  margin-top: 5px;
}

.col.s6.right {
  /* border: solid 1px blue; */
}

.card.product {
  /* border: 1px solid violet; */
  padding: 4px;
  max-height: 225px;
  }

  .btndropdownarrow {
    background-color: yellow;
    color: #757575;
  }

  .dropdown-trigger {
    cursor: pointer;
  }

  .dropdown-content {
    text-decoration: line-through;
    color: #fff;
  }


.card.item p {
  /* border: 1px solid grey; */
  margin: 0px;
}

.card.item h5 {
  font-weight: bold;
  /* border: 1px solid brown; */
}

.col.s6.item-info h5 {
  margin: 0px;
}

.col.s6.item-info.icons {
  /* border: 1px solid green; */
  text-align: center;
}

.row.button-center {
  margin: 40px 0px 60px 0px;
  text-align: center;
}

.material-icons-outlined {
  color: black;
}

/* Product Details */
.product_details_text h5 {
  color: black;
  padding: 20px;
}

.product_details_price h5 {
  color: #388E3C;
  margin-bottom: 40px;
}

.product_details_product_details h6 {
  text-align: center;
}

.product_details_color p {
  color: #388E3C;
  padding: 20px;
}

.for_button {
  text-align: center;
}

.button.green {
  background-color: #388E3C;
}

.description {
  margin-top: 40px;
  padding: 6px;
}

.description p {
  color: #757575;
}

.buyers_reviews {
  margin-top: 40px;
  padding: 6px;
}

.buyers_reviews h5 {
  margin-bottom: 40px;
}

.buyers_reviews p {
  /* margin-top: 40px;  */
  color: #757575;
}


/* .card {
  border-radius: 15px;
} */

/*  */
.navbar-fixed nav {
  bottom: 0;
  left: 0;
}
